.toasted {
  &.alive {
    border-radius: 2px;
    min-height: 38px;
    line-height: 1.1em;
    background-color: white;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 700;
    color: #007FFF;
    box-shadow: 0 12px 44px 0 rgba(10, 21, 84, 0.24);

    &.success {
      color: #4CAF50;
    }

    &.error {
      color: #F44336;
    }

    &.info {
      color: #3F51B5;
    }

    .action {
      color: #007FFF;
    }

    .material-icons {
      color : #FFC107;
    }
  }

}