@import "./variables";
@import '~node-reset-scss/scss/reset';
@import '~flexboxgrid';
@import './nice-select';

@import "~vue-directive-tooltip/src/css/index.scss";
@import "~toastedjs/src/sass/toast.scss";

@import './alive';
@import './material';

::selection {
  background: #f3f4f7;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  color: $font;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-size: 14px;

  #app {
    background-image: url(https://shakee93.github.io/toasted/src/assets/bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 3em 0 5em;
  }

  .full-height {
    height: 100vh;
  }

  .center {
    text-align: center;
  }

  b, strong {
    font-weight: inherit;
    font-weight: bolder;
  }

  h1 {
    font-family: Lato,sans-serif;
    font-size: 60px;
    font-weight:300;
  }

  .btn {
    background: #0f86ff;
    color: white;
    border: none;
    padding: 0.8em 1.8em;
    font-size: 1.2em;
    border-radius: 3px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-decoration: none;
  }

  .nice-select {
    width: 100%;
    min-width: 150px;
    border: 2px solid $blue;

    &.open {
      @include active-input
    }

    .list {
      width: 100%;
      margin-top: 10px;
      box-shadow: 0 12px 44px 0 rgba(10, 21, 84, 0.24), 0 0 0 1px rgba(95, 95, 95, 0.02);
      border: 1px solid #eaebf1;
    }

    .selected {
      color: $blue;
    }
  }

  .vue-tooltip {
    padding: 12px 20px;
    background: $darker;
    box-shadow: 3px 5px 13px 0 rgba(10, 21, 84, 0.39);

    .tooltip-arrow {
      border-right-color: $darker !important;
    }
  }

  .icon-select {

    .list {
      max-height: 300px;
      overflow-y: scroll;
      @include scroll;

      li {
        width: 20%;
        float: left;
        display: inline-block;
        padding: 0;
        border-radius: 5px;

        .material-icons {
          margin-top: 12px;
          margin-left: 16px;
        }

      }

    }

  }

  .input {
    margin-bottom: 1.5em;
    display: inline-block;
    width: 100%;

    input {
      outline: none;
      color: $font;
      padding: 0.7em 1em;
      border: 2px solid $blue;
      border-radius: 4px;
      font-size: 1em;
      width: 100%;
      min-width: 150px;
      letter-spacing: 0.03em;
      transition : box-shadow .3s, border-color .3s;
      box-sizing: border-box;

      &:focus {
        @include active-input
      }

      &.hidden {
        visibility: hidden;
        position: absolute;
        top: -10000px;
        left: -100000px;
      }
    }

    label:not(.switch-label) {
      width: 100%;
      display: block;
      margin-bottom: 0.8em;
      font-weight: 700;
      letter-spacing: .04em;
      margin-left: 0.5em;
    }


    .input-position {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1.5em;
      margin-left: 1.5em;

      .circle {
        width: 18px;
        height: 18px;
        background: $blue;
        border-radius: 100%;
        margin: 5px;
        border: 2px solid transparent;
        cursor: pointer;
        transition: background .3s, box-shadow .3s;

        &.active {
          border-color: $blue;
          background: #f3f3f3;
          box-shadow: 0 5px 14px 0 rgba(10, 21, 84, 0.24);
        }
      }
    }
  }

  .t-wrapper {

    header {
      padding: 1em;
      margin: 0 0 2em;
      color: $blue;
    }

    .t-container {
      min-height: 400px;
      background: white;
      box-shadow: 0 12px 44px 0 rgba(10,21,84,.24);
      padding: 4em 4em 2em;

      .t-actions {
        margin-top: 4em;
        margin-bottom: 2em;
      }
    }

    footer {
      margin-top: 3em;
    }
  }
}

.switch {

  input[type=checkbox]{
    height: 0;
    width: 0;
    margin: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 32px;
    height: 12px;
    background: $lighten;
    display: block;
    border-radius: 100px;
    position: relative;
    margin-top: 4px;
    margin-left: 20px;
  }

  label:after {
    content: '';
    position: absolute;
    top: -5px;
    left: -8px;
    width: 18px;
    height: 18px;
    background: $blue;
    border-radius: 100px;
    transition: 0.3s;
    border: 2px solid transparent;
//    @include active-input

  }

  input:checked + label {
   // background: $darken;
  }

  input:checked + label:after {
    left: calc(100% - -9px);
    transform: translateX(-100%);
    border-color: $blue;
    background: #f3f3f3;
    @include shadow
  }

  label:active:after {
    width: 25px;
  }
}